.flex-parent {
  background-color: black;
  display: flex;
  height: 600px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.flex-child {
  font-family: sans-serif;
  font-size: 48px;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-parent > :nth-child(1) {
  background-color: #f0f0f0;
  color: #707070;
}

.flex-parent > :nth-child(2) {
  background-color: #d0d0d0;
  color: #505050;
}

.flex-parent > :nth-child(3) {
  background-color: #b0b0b0;
  color: #303030;
}

.flex-parent > :nth-child(4) {
  background-color: #909090;
  color: #101010;
}